# .gitignore ファイルは Unity プロジェクトディレクトリのルートに配置してね
#
# 最新版は https://github.com/github/gitignore/blob/main/Unity.gitignore から取得可能
#
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

# デフォルトで Unity は Blender アセットのインポートをサポートしています
# *.blend1 ファイルはバージョン管理にコミットする必要はありません
*.blend1
*.blend1.meta

# MemoryCaptures はサイズが過大になることがあります
# また、機密性の高いデータが含まれる可能性があります
/[Mm]emoryCaptures/

# レコーディングはサイズが過大になることがあります
/[Rr]ecordings/

# アセットストアツールプラグインを無視したい場合は以下の行のコメントアウトを解除してください
# /[Aa]ssets/AssetStoreTools*

# 自動生成された Jetbrains Rider プラグイン
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio キャッシュディレクトリ
.vs/

# Gradle キャッシュディレクトリ
.gradle/

# 自動生成された VS/MD/Consulo ソリューションとプロジェクトファイル
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D で生成されるメタファイル
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D でクラッシュレポート時に生成されるファイル
sysinfo.txt

# ビルド
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics で生成されるファイル
crashlytics-build.properties

# パッケージ化された Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# 一時的に自動生成される Android アセット
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# ビジュアルスクリプティングの自動生成ファイル
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
/[Aa]ssets/VisualPackage/*
/[Aa]ssets/Audio/*
/.cursor
/.vscode
/Assets/.vscode
/Assets/.cursor
Assets/Scripts/Character/Input/GameInput.cs
Assets/Scripts/Character/Input/GameInput.cs.meta
Assets/Scripts/Character/Input.meta
